@page "/"


<PageTitle>Index</PageTitle>

<FluentCard>
    <h1>ChatModApp authentication Home</h1>
    This is the Home page for the authentication
</FluentCard>

<SurveyPrompt Title="How is Blazor working for you?"/>